.contentDayContainer{
    display: flex;
    padding: 1em 2em 2em 2em;
    width: 100%;
    height:100vh;
}

.board{
    padding: 3%;
    border: 3px solid black;
    margin: 2%;
    border-radius: 20px;
    text-align: center;
}

.creativeBoard{
width: 44%;
}

.notesBoard{
width: 22%;
}

.contentBoard{
width: 22%
}

.boardHeading{
    font-weight: 600;
    font-size: 1.3em;
}

.boardSubHeading{
    margin-top: -15px;
}

.whiteBoard{
    background-color: white;
    width: 100%;
    padding: 2%;
    height: 65vh;
    border-radius: 20px;
}

.notesBoard, .contentBoard{
    overflow: auto;
}

.content-title{
    font-weight: 600;
}

.thumbnail-white{
    margin-top: -10px;
    width:100%;
    height:15vh;
    background-color: #ededed;
    border-radius: 10px;
}

.file{
    background-color: white;
    padding: 10%;
    border-radius: 20px;
    margin-bottom: 20px;
}
