.contentDayContainer{
    display: flex;
    padding: 1em 2em 2em 2em;
    width: 100%;
    height:100vh;
}

.board{
    padding: 3%;
    border: 3px solid black;
    margin: 2%;
    border-radius: 20px;
}

.creativeBoard{
width: 44%;
}

.notesBoard{
width: 22%;
}

.contentBoard{
width: 22%
}

