.contentDayContainer{
    display: flex;
    padding: 1em 2em 2em 2em;
    width: 100%;
    height:100vh;
}

.board{
    padding: 3%;
    border: 3px solid black;
    background-color: #fff;
    margin: 2%;
    border-radius: 20px;
    text-align: center;
}

.note-2{
    background-color: #ededed;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 1rem 0 1rem 0;
    /* TRouBLe */
    margin: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}


.creativeBoard{
width: 44%;
}

.notesBoard{
width: 22%;
}

.contentBoard{
width: 22%
}

.boardHeading{
    font-weight: 600;
    font-size: 1.3em;
}

.boardSubHeading{
    margin-top: -15px;
}

.whiteBoard{
    background-color: white;
    border: 3px dotted black;
    width: 100%;
    padding: 2%;
    height: 65vh;
    border-radius: 20px;
}

.notesBoard, .contentBoard{
    overflow: auto;
}

.content-title{
    font-weight: 600;
}

.thumbnail-white{
    margin-top: -10px;
    width:100%;
    height:15vh;
    background-color: #ffffff;
    border-radius: 10px;
}

.file{
    background-color: #ededed;
    padding: 10%;
    border-radius: 20px;
    margin-bottom: 20px;
}
