.mycontent{
    display: flex;
    flex-direction: column;
    
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-title{
    font-weight: 600;
    font-size: 2em;
    padding: 1em;
    margin-top: 30px;
    margin-left: 3%;
}

/* .button-white{
    background-color: #fff;
    border: none;
    border-radius: 25px;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 45px;
    margin-right: 45px;
    height: 1em;
    justify-content: center;
} */

.button-white{
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    appearance: none;

    /* make sure properties affecting height have same value */
    font-size: 1em;
    line-height: 1.2;
    padding: 0.5em var(--padding-x);
    border-width: 2px;
    border-style: solid;

    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    --padding-x: 1.2em;
    height: 2em;
    margin-top: 60px;
    margin-right: 45px;
    border-radius: 25px;
}

.button-white:hover{
    color:#ededed;
    background-color: #000;
}

.container{
    max-width: 960px;
    margin-right: 8%;
    margin-left: 8%;
}