.mycontent{
    display: flex;
    flex-direction: column;
    
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page-title{
    font-weight: 600;
    font-size: 2em;
    padding: 1em;
    margin-top: 30px;
    margin-left: 3%;
}

/* .button-white{
    background-color: #fff;
    border: none;
    border-radius: 25px;
    color: #000;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: 45px;
    margin-right: 45px;
    height: 1em;
    justify-content: center;
} */

.button-white, .button-green, .button-red, .button-orange, .button-purple{
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    appearance: none;

    /* make sure properties affecting height have same value */
    font-size: 1em;
    line-height: 1.2;
    padding: 0.5em var(--padding-x);
    border-width: 2px;
    border-style: solid;

    display: inline-flex;
    justify-content: center; /* center the content horizontally */
    align-items: center; /* center the content vertically */
    --padding-x: 1.2em;
    height: 2em;
    margin-top: 60px;
    margin-right: 45px;
    border-radius: 25px;
}

.button-white:hover{
    color:#ededed;
    background-color: #000;
}

.button-red:hover{
    color:#ededed;
    background-color: rgb(177, 10, 10);
}
.button-green:hover{
    color:#ededed;
    background-color: rgb(8, 114, 48);
}

.button-orange:hover{
    color:#ededed;
    background-color: rgb(177, 118, 10);
}
.button-purple:hover{
    color:#ededed;
    background-color: rgb(96, 8, 114);
}

.container{
    max-width: 960px;
    margin-right: 8%;
    margin-left: 8%;
}

.create-folder-modal-footer{
    display: flex;
    flex-direction: row;
}

.modal-form-label{
    /* TRouBLe */
}

.new-note-title{
    margin-top: 20px;
    /* border: 2px solid rgb(92, 92, 92); */
    padding: 4px 4px 4px 0px;
    /* border-radius: 20px; */
    border: none;
}

.file-select-heading{
    margin-bottom: 20px;
    font-weight: 400;
    margin-top: 10px;
}
