.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}
.nav-menu{
    background-color: #fff;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 850ms;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
}

.nav-text{
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #0f0f0f;
    font-weight: 400;
    font-size: 18px;
    width:95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 14px;
}

.nav-text a:hover{
    background-color: #EDEDED;
    color: #0f0f0f;
}

.nav-menu-items {
    width: 100%;
    margin-top: 27.5vh;
}



span{
    margin-left: 16px;
}